{% extends "base.html" %}

{% block content %}
<div class="banner">
    <div>
        <h4><b>Master Thesis Pedro Miguel Coelho Fernandes</b></h4>

        <h1>
            Automatic sampling of water <br>
            Content in the soil using
            Lysimeters
        </h1>

        <div>
            <p>Advisor(s)/Supervisor(s): Prof. Doutor João Nuno de Oliveira e Silva
            </p>
            <p>Alexandra Soares Gomes Cardoso de Oliveira
            </p>
        </div>
    </div>
</div>

<div class="logos">
    <a href="https://tecnico.ulisboa.pt/pt/" target="_blank"><img src="static/img/ist.png"></a>
    <a href="https://inesc-id.pt/" target="_blank"><img src="static/img/inesc.png"></a>
    <a href="https://ciencias.ulisboa.pt/" target="_blank"><img src="static/img/fcul.png"></a>
    <a href="https://www.telecom.pt/" target="_blank"><img src="static/img/altice.png"></a>
</div>
{% endblock %}