{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('create_location') }}" method="get">
    <button type="submit" class="btn btn-default">
        Add Location <span class="glyphicon glyphicon-plus"></span>
    </button>
</form>

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Name</th>

            <th class="th-sm">Latitude</th>

            <th class="th-sm">Longitude</th>

            <th class="th-sm">Created At</th>

            <th class="th-sm">Updated At</th>

            <th class="th-sm">Status</th>

        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ location.name }}</td>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td>{{ location.created_at }}</td>
            <td>{{ location.updated_at }}</td>
            <td style="display: flex; justify-content: space-evenly;">
                <form action="/location/{{ location.id }}/devices" method="get">
                    <button type="submit">Devices</button>
                </form>
                <form action="/location/{{ location.id }}/delete" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <!-- <tfoot>
      <tr>
        <th>Name
        </th>
        <th>Position
        </th>
        <th>Office
        </th>
        <th>Age
        </th>
        <th>Start date
        </th>
        <th>Salary
        </th>
      </tr>
    </tfoot> -->
</table>

<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript">
    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([-7.996114, 39.693519]),
            zoom: 6
        })
    });

    {% for location in locations %}
    map.addLayer(new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ location.longitude }}, {{ location.latitude }}])),
                    fillColor: "#FF0000"
                })
            ]
        })
    }));
    {% endfor %}

</script>

{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css"
    type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
{% endblock %}